:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
p {
  margin: 0;
  padding: 0;
  color: #242424;
}
